CONFIG_ESP_CONSOLE_UART_CUSTOM=y
CONFIG_ESP_CONSOLE_UART_BAUDRATE=460800
CONFIG_ESPTOOLPY_MONITOR_BAUD=460800
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_BROWNOUT_DET=n
CONFIG_ESP_WIFI_CSI_ENABLED=y
CONFIG_SHOULD_COLLECT_CSI=y
CONFIG_SHOULD_COLLECT_ONLY_LLTF=y
CONFIG_SEND_CSI_TO_SERIAL=y
CONFIG_SEND_CSI_TO_SD=n
CONFIG_WIFI_CHANNEL=6
CONFIG_ESP_WIFI_SSID="CSI-AP"
CONFIG_ESP_WIFI_PASSWORD=""
